/* 
http://daygrid.dwy.io
daygrid.css v0.1
*/
*, *:after, *:before {
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    background-color: #FFF;
    box-sizing: border-box;
}

/*reset body css*/
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* hack for IE */
main {
    display: block;
}

svg {
    width: 20%;
    margin-top: 10px;
    fill: rgb(244, 165, 3);
}

/*grid*/
.grid-container {
    width: 1024px;
    margin: auto;
}

.grid-fluid {
    width: 100%;
    overflow: auto;
}

/*general card for holding info*/
.card {
    margin: 15px 10px;
}

/*rows go in grids*/
.row {
    clear: both;
    overflow: auto;
}

/*columns go in rows*/
.col-10 {
    width: 83.33333%;
    float: left;
}

.col-8 {
    width: 66.66664%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

.offset-3 {
    margin-left: 25%;
}

.offset-2 {
    margin-left: 16.666666%;
}

.offset-1 {
    margin-left: 8.333333%;
}
/*end grid*/

.banner-text {
    width: 100%;
    font-size: 1.1em;
    color: #FFF;
    margin: 20px 0;
}

/*start text style*/
h1,h2,h3,h4,h5 {
    font-weight: 400;
}
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    margin-top: 0;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

.text {
    width: 100%;
    font-size: 1.2em;
    color: #FFF;
    display: inline-block;
}

.banner-link {
    color: #FFF;
}

.banner-link:hover {
    color: #2ecc71;
}

.answer {
    color: #000;
}

.responses {
    background-color: #ecf0f1;
    box-sizing: border-box;
    padding: 20px;
}

/*colours*/
.blue-bg {
    background-color: #2980b9;
}

.darker-bg {
    background-color: #ecf0f1;
}

/*some overrides*/
.push-down {
    margin-top: 20px;
    margin-bottom: 20px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.tiny-text {
    width: 100%;
    font-weight: 400;
    text-align: center;
}

/*forms*/
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1.3em;
    border: 1px solid #ccc;
    font-weight: 400;
    box-sizing: border-box;
}

button {
    width: 98%;
    background-color: inherit;
    color: black;
    padding: 14px 20px;
    font-size: 1em;
    border: solid 1px #2980b9;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #3498db;
    color: #FFF;
}

button:focus {
    outline: 0;
}

pre, code {
    box-sizing: border-box;
    white-space: pre-wrap;
}

input[type=submit]:hover {
    background-color: blue;
}

/*lets shrink once we're small*/
@media screen and (max-width: 1024px) {
    .grid-container {
        width: 95%;
        margin: auto;
    }
}
/*typical media query for phones*/
@media screen and (max-width: 768px) {
    h1 {font-size: 2rem;}
    
    h2 {font-size: 1.7rem;}
    h3 {font-size: 1.5rem;}
    h4 {font-size: 1.3rem;}
    h5 {font-size: 1.2rem;}
    .col-3 {width: 50%;}
    .col-6 {width: 100%;}
    .col-8 {width: 100%;}
    .col-10 {width: 100%;}
    .offset-1 {margin-left: 0}
    .offset-2 {margin-left: 0}
    .offset-3 {margin-left: 0}
}

@media screen and (max-width: 550px){
    button{width: 100%;}
    .col-3 {width: 100%;}
}