*, *:after, *:before {
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    background-color: #FFF;
    box-sizing: border-box;
}

/*reset body css*/
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*grid*/
.grid-container {
    width: 1024px;
    margin: auto;
}

.grid-fluid {
    width: 100%;
    overflow: auto;
}

/*lets shrink once we're small*/
@media screen and (max-width: 1024px) {
    .grid-container {
        width: 95%;
        margin: auto;
    }
}
